  *{
   font-family: 'Times New Roman';
   box-sizing: border-box;
   padding: 0%;
   margin: 0%;
   scroll-behavior: smooth;
   }
   /*hero section start*/
  .hero{
   height: 100vh;
   width: 100%;
   background-image: url(./PHOTOS/myphoto.jpeg );
   background-size: cover;
   background-position: center;
  }
  /*hero section end and nav section start*/
  nav{
   display: flex;
   align-items: center;
   background-color: #5A5A5A;
   transition: 3s;
   justify-content: space-between;
   position: sticky;
   top: 0%;
   width: 100%;
   z-index: 1111;
  }
  /*Unordered list start*/
  nav ul
  {
   display: flex;  
   /* padding-left: 10%; */
  }
  nav ul li{
   padding: 10px 20px;
   list-style-type: none;
  }
  nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
   }
   nav ul li:hover{
    transform: scale(1.3);
    transition: transform(0.7s);
   }
   nav ul li a:hover{
    color: green;
    transition: 3s;
      }
  /*nav and unordered list end and name section start*/
  /* .name{
   color:blue;
   font-size: large;
  } */
  span{
   color: red;
  }
.firstpage{
   position: absolute;
   transform: translate(25%,250%);
   color: #1808f4;
}
.firstpage h1{
   color: green;
   font-size: xx-large;
}
.firstpage h1 span{
   color: green;
}
.study{
  background-color:rgba(0, 0, 0, 0.473);
}
.study h1  {
 text-align: center;
 padding-top: 5%;
 padding-bottom: 5%;
}
.study h1 span{
   border-style:groove;
   border-color:rgb(136, 255, 0);
   font-weight: lighter;
   border-radius: 30px;
   color: rgb(43, 144, 226);
   font-family: Calibri;
   border-width: 10px;
   padding: 1%;
   background-color:black;
}
.study h4{
   text-align: center;
   padding-top: 0%; 
   padding-bottom: 2%; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: bold;
   font-size: large;
  }
 .study h4 span{
   /* background-origin: padding-box; */
   color: black;
   /* background-image: url(./PHOTOS/sslc.jpg); */
   font-size: x-large;
 }
 .study  p{
   text-align: center;
   font-weight: bold;
   color:#5A5A5A;
   font-size: x-large;
   background-size: cover;
   border-style: outset;
   border-color: blueviolet;
   background-position: center;
   background-color:#B0EC37;
   border-radius: 25px;
   padding-top: 2%;
   padding-bottom: 2%;
   margin-left: 20%;
   margin-right: 20%;
 } 
 .projects{
  background-color:rgba(0, 0, 0, 0.473);

}
 .projects h1  {
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
  }
 .projects h1 span{
   border-style:groove;
   border-color: rgb(136, 255, 0);
   font-weight: lighter;
   border-radius: 30px;
   color: rgb(43, 144, 226);
   font-family: Calibri;
   border-width: 10px;
   padding: 1%;
   background-color:black;
 }
   .gearless {
    display: flex;
    margin-left: 20%;
   }
   .gearless p{
    margin-left: 5%;
    /* margin-right: 30%; */
    font-size: large;
   }
   .gearless p span{
    color: green;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 2%;
   }
   .gearless{
    border-style: groove;
    border-color: #F45308;
    background-color: #B0EC37;
    padding: 2%;
    margin-right: 10%;

   }
   .conveyor {
    display: flex;
    margin-left: 20%;
   }
   .conveyor p{
    margin-left: 2%;
    /* margin-right: 30%; */
    font-size: large;
   }
   .conveyor p span{
    color: green;
    font-weight: bolder;
    font-size: x-large;
   }
   .conveyor{
    border-style: groove;
    border-color: #F45308;
    background-color: #B0EC37;
    padding: 2%;
    margin-right: 10%;

   }
 .aboutme{
  background-color: rgba(0, 0, 0, 0.473);
}
 .aboutme h1  {
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
  }
   .aboutme h1 span{ 
    /* display: flex; */
   border-style:groove;
   border-color: rgb(136, 255, 0);
   font-weight: lighter;
   border-radius: 30px;
   color: rgb(43, 144, 226);
   font-family: Calibri;
   border-width: 10px;
   padding: 1%;
   text-align: center;
   background-color:black;
   background-position: center;
   }
   .aboutme1 {
    display: flex;
    margin-left: 20%;
   }
   .aboutme1 p{
    margin-left: 2%;
    margin-right: 30%;
    font-size: large;
   }
   .aboutme1 p span{
    color: green;
    font-weight: bolder;
    font-size: x-large;
   }
   .aboutme1 p  a:hover{
    color: green;
    transition: 1s;
  }
  .aboutme1 p a {
        color: blue;
        font-weight: bold;
        text-decoration: none ;
        border-style: groove;
        border-color: #F45308;
        padding: 2%;
        background-color: #B0EC37;    
  }
  .contact{
    background-color: rgba(0, 0, 0, 0.473);
  }
 .contact h1  {
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
  }
 .contact h1 span{
   border-style:groove;
   border-color: rgb(136, 255, 0);
   font-weight: lighter;
   border-radius: 30px;
   color: rgb(43, 144, 226);
   font-family: Calibri;
   border-width: 10px;
   padding: 1%;
   padding-top: 1%;
   background-color:black;
   background-position: center;
 }
 
 .phone{
  display: flex;
  margin: auto;
  padding-left: 20%;
 }
 .phone p{
  font-size: large;
  padding-top: 2% ;
  padding-right: 2%;
 }
 .phone p a {
  color: black;
  font-weight: bold;
  text-decoration: none ;
  text-align: center;
 }
 .phone p  a:hover{
  color: green;
  transition: 1s;
    }
.available {
  text-align: center;
}

.available{
  background-color: rgba(0, 0, 0, 0.473);
}